@tailwind base;
@tailwind components;
@tailwind utilities;







:root {
        --dark-blue: #020381;
        --light-blue: #2874FC;


}



@font-face {
        font-family: "pacifico";
        src: url("../../public/Fonts/Pacifico-Regular.ttf");
}

@font-face {
        font-family: "robotoREG";
        src: url("../../public/Fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
        font-family: "robotoBOLD";
        src: url("../../public/Fonts/RobotoCondensed-Bold.ttf");
}


@font-face {
        font-family: "robotoLIGHT";
        src: url("../../public/Fonts/RobotoCondensed-Light.ttf");
}


body, html {
        padding: 0;
        margin: 0;
        height: 100vh;
        box-sizing: border-box;
        transition: all 2s linear;
        font-family: "RobotoREG";
        background-image: linear-gradient(rgb(0, 0, 70), rgb(77, 77, 175));
        background-repeat: no-repeat;
}



* {
        box-sizing: border-box;

}


h1 {
        font-size: xx-large;
        font-family: "pacifico";

}